*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    color: white;
    background-color: rgb(171, 139, 111);
    /* width: 100%; */
    height: 100vh;
    flex-direction: column;
    /* text-align: center; */
    align-items: center ;
    justify-content: center;
    gap: 60px;
    font-family: "Open", sans-serif;
    border: 100px solid wheat;
}

header{
    font-family: header_font;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 70px;
    border: 100px;
    
    /* height: 100%; */
    /* width: 100%; */
    /* justify-content: center; */

}

main .konten{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .konten pre{
    border-radius: 10px;
    font-size: 1.8em;

}

main .back {
    display: flex;
    width: 100%;
    justify-content: center;
    
}

main .back a{
    border-radius: 10px;
    background: saddlebrown;
    font-family: "Open", sans-serif;
    /* border-bottom: 1px solid antiquewhite; */
    font-size: 1.3em;
    /* text-align: center; */
    display: flex;
    width: fit-content;
    /* justify-content: center; */
    text-decoration: none;
    color: white;
    padding: 5px;
    /* border-radius: 5px; */
}

a:hover{
    /* font-weight: 600; */
    

    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #694e52;
    background-color: #694e52;
    color: antiquewhite;
    font-size: 13px;
    transition: transform 80ms ease-out;
    cursor: pointer;
}
.a {
    color: black;
}
